<div class="section wf-section">
    <div class="container w-container">
      <div class="grid is--hero">
        <blockquote class="block-quote"><strong class="bold-text">{{ texts.-58e38dd7 }}<br>{{ texts.-67b8eee8 }}<br>{{ texts.-7539a746 }}<br><br></strong>
          <a href="{{ links.-3b2ce3e7 }}" class="link">{{ texts.-7b61a26e }}<br></a><br>
          <a target="_blank" href="{{ links.3efba51 }}" class="link">{{ texts.-5f43b560 }}<br>{{ texts.200d }}<br></a>
          <a href="{{ links.-528ab692 }}" class="link">{{ texts.49f40977 }}</a>
          <a href="{{ links.-64d0813 }}" class="link"><br><br></a>{{ texts.2f8fe13d }}<br>
        </blockquote>
      </div>
    </div>
  </div>