<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <div class="container-2 w-container">
      <a href="{{ links.2f }}" aria-current="page" class="brand w-nav-brand w--current"><img src="{{ images.-7f4146a.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:40,&quot;size&quot;:&quot;81vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;33px&quot;}]" alt="{{ images.-7f4146a.alt | trim | escape }}">
        <p class="paragraph-6">{{ texts.-581f6c41 }}</p>
      </a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="{{ links.2f }}" aria-current="page" class="nav-link w-nav-link w--current">{{ texts.10666 }}</a>
        <a href="{{ links.23 }}" class="nav-link is--checkout w-nav-link">{{ texts.-70e3fc0a }}</a>
        <a href="{{ links.3efba51 }}" class="nav-link w-nav-link">{{ texts.-64104400 }}</a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="icon w-icon-nav-menu"></div>
      </div>
    </div>
  </div>